* {
  padding: 0;
  margin: 0;
}

:root {
  --dark-background: #242D3A;
  --quote-background: #E5E7Eb;
  --blue-color: #3B81F6;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: var(--dark-background);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 20px 300px;
  height: 50px;
}

.header img {
  height: 100%;
  width: auto;
}

.header h1 {
  color: #E5E7EB
}


.hero {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--dark-background);
  justify-content: center;
  align-items: center;
  padding: 100px 300px;
  gap: 50px;
}

.hero img {
  width: 50%;
  height: auto;
  background-color: #6D737C;
}

.hero-text {
  width: 100%;
}

.hero-text > h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-bottom: 4px
}

.hero-text > p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 16px;
}


.info-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  align-items: center;
  padding: 64px;
}

.info-container > span {
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 32px;
  font-size: 32px;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.card > div {
  width: 200px;
  height: auto;
  aspect-ratio: 1;
  border: solid #3D81F6 5px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.card > p {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  padding: 0 300px;
  width: 100%;
  gap: 0 16px;
}



ul {
  display: flex;
  align-items: center;
  gap: 18px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

button {
  padding: 4px 16px;
  border-radius: 5px;
  background-color: var(--blue-color);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-family: inherit;
}

button:active{
  filter: brightness(1.2)
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 64px 400px;
  background-color: var(--quote-background);
}

.quote-container > p:nth-child(1) {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  align-self: flex-start;
  margin-bottom: 8px;
}


/* cta */
.cta-container {
  background-color: #FFFFFF;
  padding: 128px 256px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cta {
  background-color: #3D81F6;
  padding: 32px 100px;
  display: flex;
  border-radius: 4px;
  column-gap: 32px;
}

.cta div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cta {
  color: #F9FAF8
}

.cta p:nth-child(1) {
  color: #E5E7EB;
  font-weight: 900;
}

.cta button {
  border: solid white 2px;
  padding: 0px 32px;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 32px;
  display: flex;
  justify-content: center;
}